version: '3.8'
services:
  server:
    env_file:
      - env-release.env
    image: jpomdocker/jpom:server-${JPOM_VERSION}
    container_name: jpom-server
    restart: always
    build:
      dockerfile: ./modules/server/Dockerfile
      context: .
      args:
        JPOM_VERSION: ${JPOM_VERSION}
    environment:
      "jpom.authorize.token": ${SERVER_TOKEN}
    volumes:
      - ./jpom-volumes/data:/usr/local/jpom-server/data
      - ./jpom-volumes/logs:/usr/local/jpom-server/logs
      - ./jpom-volumes/conf:/usr/local/jpom-server/conf
    ports:
      - "2122:2122"
